body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #00ded3; 
	background: -webkit-linear-gradient(to right, #00ded3, #891de0); 
	background: linear-gradient(to right, #00ded3, #891de0);
	background-size: cover;
}
#signup{
    width: 350px;
	height: 500px;
	margin-top: 220px;
	background-color: #ffff;
	position: relative;
	margin-bottom: 200px;
	left: 43%;
    bottom: 40%;
	border-radius: 10px;
	box-shadow: 0 10px 10px 0;
}
#signup header{
    color: #130f40;
	font-size: 30px;
	position: relative;
	top: 30px;
	left: 30px;
}
.top p{
    color: #30336b;
    padding-top: 10px;
    margin: 30px;
 
 }
 input{
	width: 78%;
	height: 28px;
	margin:0 20px 0 30px;
	border-radius: 4px;
	border-color: #30336b;

}
button{
	width: 40%;
	height: 32px;
	margin: 20px 10px 0 30px;
	color: #ffff;
	border-radius: 4px;
	background-color:  #130f40;
}
button:hover{
	background-color: #30336b;
}
label{
	color:#30336b;
	margin-left: 30px;

}
label:hover{
	font-size: 20px;
	color: #130f40;
}
